<style> 

</style>

{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<body style="background-color: bisque;"> 
<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-6 align-self-center">
            <div class="card text-center">
                <h5 class="card-header" style="background-color: rgb(147, 105, 210);">Login</h5>
                <div class="card-body " style="background-color: rgb(175, 167, 187);">

                    <div class = "login">

                        <form method="POST" action="">
                            {% csrf_token %}
                            <table class = "mx-auto">
                                <tr>
                                    <td>Username: </td>
                                    <td><input type="text" name="username" placeholder="Username" class="form-control"  ></td>
                                </tr>
                                        
                                <tr>
                                    <td>Password: </td>
                                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td><input class="btn login_btn" type="submit" value="Login" style="background-color: rgb(147, 105, 210);"></td>
                                </tr>
                            </table>
                        </form>

                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}     
                            
                        Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}