{% extends 'base.html' %}

{% block content %}
    <h1>League of Legends Skin Collection</h1>

    <h5>Name:</h5>
    <p>{{name}}</p> <!-- Change it to your name -->

    <h5>Class:</h5>
    <p>{{class}}</p>  <!-- Change it to your class -->

    <p>You have saved {{counter}} item(s) in this application</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    {% comment %} Below is how to show the product data {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<h5>Last login session: {{ last_login }}</h5>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}