<style> 
    .btn-standard {
            width: 200px;
            height: 50px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 10px 20px;
        }

        table td, table th {
            text-align: center;
            /* Centering the content of all cells */
            padding: 10px 5px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 2px solid black;
        }

        .amount-value {
            margin: 0 10px;
        }
</style>

{% extends 'base.html' %}

{% block content %}

<body style="background-color: bisque;"> 

    <nav class="navbar" style="background-color:  rgb(147, 105, 210);" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Omar Khalif</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}" style="color: white;">Home</a>
              <a class="nav-link" href="{% url 'main:logout' %}" style="color: white;">Logout</a>
            </div>
          </div>
        </div>
    </nav>

    <h1>League of Legends Skin Collection</h1>

    <br />

    <h5>Name:</h5>
    <p>{{name}}</p> <!-- Change it to your name -->

    <h5>Class:</h5>
    <p>{{class}}</p>  <!-- Change it to your class -->

    <p>You have saved {{counter}} item(s) in this application</p>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 align-self-center">
                        <table>
                            <thead style="background-color: rgb(147, 105, 210); color: white;"> <!-- Add background and text color to the header -->
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Configure</th>
                                </tr>
                            </thead>
                        
                            <tbody style="background-color: rgb(175, 167, 187);">
                                {% for product in products %}
                                    <tr>
                                        <td>{{product.name}}</td>
                                        <td>{{product.amount}}</td>
                                        <td>{{product.description}}</td>
                                        <td>
                                            <a href="{% url 'main:edit_product' product.pk %}">
                                                <button style="background-color: rgb(147, 105, 210); color: white;"> <!-- Add background and text color to the buttons -->
                                                    Edit
                                                </button>
                                            </a>
                                            <a href="{% url 'main:delete_product' product.pk %}">
                                                <button style="background-color: rgb(147, 105, 210); color: white;"> <!-- Add background and text color to the buttons -->
                                                    Delete
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
        </div>
    </div>

<br />

<h5>Last login session: {{ last_login }}</h5>

<a href="{% url 'main:create_product' %}">
    <button style="background-color: rgb(147, 105, 210); color: white;">
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button style="background-color: rgb(147, 105, 210); color: white;">
        Logout
    </button>
</a>

</body>
{% endblock content %}